.title {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 10px;
}

.card, .cardList {
  border: 5px solid rgb(8, 65, 116);
  color: black;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  height: 450px;
  margin-right: 20%;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.cardImage, .imageCardList {
  height: 100%;
  width: 100%;
}
