.title {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding: 10px;
}

.card {
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 20%;
  width: 20%;
}

.cardImage {
  width: 100%;
}
